.coucou {
    background-color:rgba(255, 255, 255, .7);
}

.my_green {
    color:#98D990;
}
.my_red {
    color:#D99090;
}
.my_yellow {
    color:#FFFA75;
}
.my_purple {
    color:#D181FF;
}

.large { font-size: 120% } 
.Large { font-size: 220% } 

.small {
  font-size: 80%
}

.small-code {
  font-size: 80%
}

.column:first-of-type {float:left}
.column:last-of-type {float:right}

.split-40 .column:first-of-type {width: 40%}
.split-40 .column:last-of-type {width: 60%}

.split-80 .column:first-of-type {width: 30%}
.split-80 .column:last-of-type {width: 70%}

.split-40-reverse .column:first-of-type {width: 70%}
.split-40-reverse .column:last-of-type {width: 30%}


.content {
  position:          relative;
  top:               50%;
  transform:         translateY(50%);
}


.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}

.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}